body {
    margin: 0;
}


.navbar {
    position: 
}


#omslag-hem {
    background-color: white;
    background-image: url(images/omslag.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    
}

.lista {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}